body{
    background-color: #D5E1EF;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
}

h2{
    color:hsl(218, 44%, 22%);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 18px;
}

p{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #7b879d;
    padding: 0 15px 15px;
}

#QRCode{
  border-radius: 12px;
  padding:16px;
}

#card{
    background-color: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius:20px;
    width:320px;
    text-align:center;
    padding :16px;
}

img{
    border-radius:10px;
    width: 300px;
}
